body {
    font-family: Arial, handjet;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px; /* Optional, for some space around the content */
}

.spin-image {
    animation: spin 4s linear infinite;
    width: 150px; /* Adjust the size as needed */
    height: auto;
}

.music-player {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: bottom;
    margin-bottom: 20px;
}

h1 {
    color: #f4f4f4; /* Replace with your desired color */
    margin-bottom: 20px;
}

audio {
    width: 100%;
    margin-bottom: 20px;
}

.controls button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.controls button:hover {
    background-color: #0056b3;
}

/* Centering only the image */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


