body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#playlist {
    flex: 1; /* Allow this to grow and take up available space */
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

#songList {
    list-style-type: none;
    padding: 0;
}

#songList li:hover {
    background-color: #f0f0f0;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer; /* Make it clear the list items are clickable */
}

#shuffleBtn:hover {
    background-color: #45a049;
}

#shuffleBtn:active {
    background-color: #3e8e41;
}


#audioPlayer {
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
