@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-image: url('82qt26we28971.gif'); /* Replace with your image file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.spin-image {
    width: 317px; /* Adjust the size as needed */
    height: auto;
    /* Default state without animation */
}
.spin-image.spinning {
    animation: spin 4s linear infinite;
}

.spin-image.paused {
    animation-play-state: paused;
}
